@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,700&display=swap");

/*========= Common and shared style =========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(19, 19, 24, 0.7);
}

a {
  text-decoration: none;
}

span {
  color: #ff5400;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.section-title {
  font-size: 40px;
  font-weight: 800;
  color: #131318;
  margin-bottom: 24px;
}

.primary-btn {
  outline: 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 36px;
  border-radius: 8px;
  transition: all 0.2s;
  background: #ff5400;
}

.primary-btn:hover {
  background: #ff6d24;
}

/* ========== Navbar design start =========== */
nav {
  display: flex;
  margin: 50px 135px;
  justify-content: space-between;
}

.logo {
  gap: 10px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 48px;
}

.logo h3 {
  font-size: 2rem;
  font-weight: 800;
  color: #131318;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin: 18px;
  list-style: none;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  color: #424247;
  transition: all 0.2s;
}

nav a:hover {
  color: rgb(37, 192, 253);
  text-decoration: underline;
}

.block {
  display: none;
}

/* ======== Banner section design start ======== */
.banner-section {
  object-fit: cover;
  text-align: center;
  border-radius: 16px;
  padding: 106px 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../assets/Images/banner-image.png");
}

.banner-section h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner-section p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-top: 24px;
  margin-bottom: 46px;
}

.select-content {
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
}

.select-card {
  width: 174px;
  padding: 14px;
  border-radius: 8px;
  background-color: #ffff;
}

.select-card p {
  margin: 0;
  color: rgba(19, 19, 24, 0.5);
}

.text-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  gap: 14px;
  display: flex;
  color: #fff;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.search-box p {
  left: 10px;
  color: #fff;
  font-weight: 700;
}

/* ======== Our Popular Tours section design start ======== */
.our-popular-section {
  display: flex;
  gap: 55px;
  margin: 100px 0;
  justify-content: space-between;
}

.section-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.left-side p {
  margin: 24px 0;
}

.left-side ul li {
  margin-bottom: 16px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 20px;
}

/* ======== Why Choose Us section design start ======== */

.choose-us-section {
  margin: 100px auto;
}

.choose-us-section h2 {
  margin: 0;
}

.box-container {
  gap: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 48px;
  justify-content: space-between;
}

.box {
  width: 573px;
  padding: 34px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.box-three {
  margin: 0 auto;
}

.box h3 {
  margin-top: 30px;
  margin-bottom: 16px;
}

/* ========== Responsive media queries ========== */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .hide {
    display: none;
  }

  nav,
  .choose-us-section,
  .choose-us-section {
    margin: 40px;
  }

  .banner-section {
    margin: 0 30px;
    padding: 40px 60px;
  }

  .select-content,
  .our-popular-section {
    gap: 22px;
    padding: 40px;
    flex-direction: column;
  }

  .right-side img {
    width: 100%;
  }

  .select-card {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .hide {
    display: none;
  }
  nav,
  .banner-section,
  .our-popular-section,
  .choose-us-section {
    margin: 20px;
  }

  .text-content p {
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    gap: 8px;
  }

  .block {
    display: block;
    font-size: 24px;
  }

  .logo h3 {
    font-size: 20px;
    font-weight: 800;
    color: #131318;
  }

  .logo img {
    width: 36px;
  }

  .banner-section {
    height: 483px;
    padding: 32px 24px;
  }

  .banner-section h2 {
    font-size: 22px;
  }

  .banner-section p {
    font-size: 14px;
    margin-top: 8px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 32px;
  }

  .select-content,
  .our-popular-section,
  .box-container {
    gap: 18px;
    flex-direction: column;
  }

  .box-container,
  .box {
    width: 100%;
    text-align: left;
  }

  .choose-us-section h2 {
    font-size: 20px;
  }

  .choose-us-section > p {
    margin: 16px 0;
  }

  .box-container {
    margin-top: 16px;
  }

  .box h3 {
    margin: 16px 0;
  }

  .left-side h2 {
    font-size: 24px;
    font-weight: 800;
  }

  .right-side img {
    width: 100%;
  }

  .select-card {
    width: 255px;
  }

  .select-content,
  .select-card p {
    margin: 0;
  }
}
